*
  box-sizing: border-box
body
  font-family: 'Mulish', sans-serif
  background-color: $secondary
.container
  max-width: 1140px
  margin: 0 auto
  padding: 0 15px
.overflow--hidden
  overflow-y: hidden
.input__error
  color: $primary
  font-size: 12px
.input__outline
  outline: 2px solid $primary
  outline-offset: 1px