.hotel
  padding-top: 24px
  padding-bottom: 70px
  &-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    &__left
      display: flex
      align-items: center
      flex-wrap: wrap
    &__name
      margin-top: 5px
      margin-bottom: 0
    &__offer
      padding: 4px 9px
      margin-left: 14px
      background-color: $primary
      color: $light
      border-radius: 3px
      font-size: 10px
      line-height: 12px
  &-name
    font-size: 24px
    line-height: 30px
  &-description
    flex-basis: 100%
    font-size: 12px
    line-height: 15px
    margin: 0
.stars
  flex-basis: 100%
.raiting
  max-width: 65px
  min-height: 45px
  text-align: center
  background-color: $primary
  color: $light
  border-radius: 4px
  &__text
   font-size: 8px
   line-height: 10px
   margin-bottom: 2px
  &__counter
   font-size: 10px
   line-height: 12px