.packges
  display: none
  &__block
    padding-top: 40px
    padding-bottom: 72px
  &__title
    margin: 0
    font-weight: 700
    font-style: normal
    font-size: 35px
    line-height: 45px
    text-transform: uppercase
    text-align: center
    margin-bottom: 65px
.grid
  display: grid
  grid-template-columns: repeat(3,1fr)
  grid-template-rows: minmax(0, 500px) 1fr
  grid-gap: 30px
  max-width: 1110px
  &__card
    grid-column: span 2
    display: grid
    grid-template-columns: repeat(2,1fr)
    grid-template-rows: 1fr 
    border-radius: 8px
    overflow: hidden
    &-background
      position: relative
      width: 100%
    &-bg
      width: 100%
      object-fit: cover
      background-image: none
    &-sticker
      position: absolute
      left: 0
      top: 25px
      font-weight: 400
      font-style: normal
      font-size: 12px
      line-height: 15px
      padding: 8px 23px 8px 13px
      background-color: $primary
      color: $light
      border-top-right-radius: 4px
      border-bottom-right-radius: 4px
      letter-spacing: 0.1px
    &-text 
      display: flex
      flex-direction: column
      background-color: $dark
      color: $light
      padding: 37px 21px 30px 46px
    &-stars
      margin-bottom: 6px
    &-name
      margin: 0 0 27px 0
      font-weight: 700
      font-style: normal
      font-size: 18px
      line-height: 22px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      max-height: 23px
      max-width: 170px
    &-description
      margin: 0
      margin-bottom: 44px
      text-align: justify
      font-weight: 400
      font-style: normal
      font-size: 14px
      line-height: 160%
      vertical-align: top
      align: left
      max-height: 165px
      overflow-y: auto
    &-icons
      margin-bottom: 37px
    &-top
      margin-bottom: 11px
      display: flex
      align-items: center
    &-adress
      margin-right: 15px
    &-span
      font-weight: 400
      font-style: normal
      font-size: 12px
      line-height: 15px
      letter-spacing: 0.6px
    &-middle
      display: flex
      align-items: center
      margin-bottom: 11px
    &-guest
      margin-right: 15px
    &-bottom
      display: flex
      align-items: center
    &-room
      margin-right: 15px
    &-discont
      display: block
      text-decoration: line-through
      font-weight: 400
      font-style: normal
      font-size: 14px
      line-height: 17px
      margin-bottom: 3px
      letter-spacing: 0.3px
    &-price
      font-weight: 700
      font-style: normal
      font-size: 24px
      line-height: 30px
      letter-spacing: 0.9px
    &-button
      padding: 9px 27px
      border-radius: 4px
      border: none
      background-color: $primary
      color: $light
      font-size: 14px
      line-height: 19px
      cursor: pointer
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      max-width: 125px
      +hover
        background-color: $button-hover
        transition: 0.3s ease
    &-footer
      display: flex
      justify-content: space-between
      align-items: center
  &__element
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(2, 1fr)
    border-radius: 8px
    overflow: hidden
    &-img
      position: relative
    &-bg
      width: 100%
      height: 100%
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      object-fit: cover
    &-sticker
      position: absolute
      left: 0
      top: 25px
      font-weight: 400
      font-style: normal
      font-size: 8px
      line-height: 10px
      padding: 4px 9px
      background-color: $primary
      color: $light
      border-top-right-radius: 4px
      border-bottom-right-radius: 4px
    &-bg
      width: 100%
      height: 100%
      overflow: hidden
    &-title
      margin: 0 0 22px 0
      font-weight: 700
      font-style: normal
      font-size: 18px
      line-height: 22px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      max-height: 23px
      max-width: 170px
    &-content
      background-color: $dark
      color: $light
      padding: 34px 21px 25px 32px
    &-icon
      margin-bottom: 22px
    &-top
      display: flex
      align-items: center
      margin-bottom: 11px
    &-adress
      margin-right: 15px
    &-span
      font-weight: 400
      font-style: normal
      font-size: 12px
      line-height: 15px
      letter-spacing: 0.6px
    &-middle
      display: flex
      align-items: center
      margin-bottom: 11px
    &-guest
      margin-right: 15px
    &-bottom
      display: flex
      align-items: center
    &-room
      margin-right: 15px
    &-discont
      text-decoration: line-through
      font-weight: 400
      font-style: normal
      font-size: 14px
      line-height: 17px
    &-footer
      display: flex
      justify-content: space-between
    &-price
      font-weight: 700
      font-style: normal
      font-size: 24px
      line-height: 30px
      margin-top: 5px
      letter-spacing: 0.9px
    &-button
      padding: 10px 29px
      border-radius: 4px
      border: none
      background-color: $primary
      color: $light
      font-size: 14px
      line-height: 19px
      cursor: pointer
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      max-width: 125px
      +hover
        background-color: $button-hover
        transition: 0.3s ease




  



